## Applying Functions in a Pandas DataFrame

In [2]:
import pandas as pd
data={'even':range(20,0,-2),
      'odd':range(1,21,2)}
df= pd.DataFrame(data)
df

   even  odd
0    20    1
1    18    3
2    16    5
3    14    7
4    12    9
5    10   11
6     8   13
7     6   15
8     4   17
9     2   19

### Apply

In [3]:
df.apply(sum,axis=1)

0    21
1    21
2    21
3    21
4    21
5    21
6    21
7    21
8    21
9    21
dtype: int64

In [4]:
df.apply(sum)

even    110
odd     100
dtype: int64

### Define Column Function

In [5]:
def hundered_plus(col):
    if sum(col)> 100: return "Grater than 100"
    return"less than 100"

In [6]:
df.apply(hundered_plus)

even    Grater than 100
odd       less than 100
dtype: object

### Define Row Function

In [7]:
def label(row):
    if row['even'] % 3 == 0 : return True
    elif row['odd'] % 3 == 0 : return True
    return False

In [8]:
df.apply(label, axis=1)

0    False
1     True
2    False
3    False
4     True
5    False
6    False
7     True
8    False
9    False
dtype: bool

### Expanding Resulting

In [9]:
def ret_list(row):
    ret_row=[False,False]
    if row['even'] > 6 : ret_row[0]=True
    elif row['odd']  > 6 : ret_row[1]=True
    return ret_row

In [10]:
df.apply(ret_list,axis=1)

0    [True, False]
1    [True, False]
2    [True, False]
3    [True, False]
4    [True, False]
5    [True, False]
6    [True, False]
7    [False, True]
8    [False, True]
9    [False, True]
dtype: object

In [11]:
df.apply(ret_list,axis=1,result_type='expand')

       0      1
0   True  False
1   True  False
2   True  False
3   True  False
4   True  False
5   True  False
6   True  False
7  False   True
8  False   True
9  False   True

### Apply To Column

In [12]:
def div_three(row):
    if row%3==0: return "divisble by three"
    return " not divisble by three"

In [13]:
df.even.apply(div_three)

0     not divisble by three
1         divisble by three
2     not divisble by three
3     not divisble by three
4         divisble by three
5     not divisble by three
6     not divisble by three
7         divisble by three
8     not divisble by three
9     not divisble by three
Name: even, dtype: object